﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CMS API</title>
</head>
<body>
    <div class="container body-content">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">NetCore.API</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" target="_blank" href="/swagger" asp-action="About">Swagger</a></li>
                        <li><a asp-area="" asp-controller="Home" target="_blank" href="/api/postman" asp-action="Contact">PostManJson</a></li>
                    </ul>
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />


        <footer>
            <p>&copy; @DateTime.Now.Year - Savis Vietnam Corporation</p>
        </footer>

    </div> 
     
</body>
</html>