﻿<main>
    <div class="col-md-16 col-sm-16 col-xs-16">
        <div class="news-slider-imgs">
            <div class="news-slider-imgs-wrap">
                  <listimage>
            </div>
            <div class="news-slider-imgs-navigation">
                <button type="button" class="slick-prev">
                    <img src="/assets-frontend/Images/slider_prev.png"></img>
                </button>
                <button type="button" class="slick-next">
                    <img src="/assets-frontend/Images/slider_next.png"></img>
                </button>
            </div>
        </div>
    </div>
    <div class="clearfix margin-bottom-10" style="margin-bottom: 10px;"></div>
</main>
<imageitem>
    <div class="item">
        <img src='<filepath>' class="img-responsive"></img>
        <p class="lead"><description></p>
    </div>
</imageitem>