﻿
<nodeimage>
    <div class="text-center">
        <center>
            <a href="<filepath>" data-lightbox="example"><img src='<filepath>' class="img-responsive"></img></a>
        </center>
    </div>
    <p class="" style="text-align: center; font-style: italic; font-size: 12px;"><description></p>
    <div class="clearfix margin-bottom-10" style="margin-bottom: 10px;"></div>
</nodeimage>
<nodevideo>
    <div style="width: 100%; height: 480px" id='cema_vod<id>'></div>
    <p class="" style="text-align: center; font-style: italic; font-size: 12px;"><description></p>
    <div class="clearfix margin-bottom-10" style="margin-bottom: 10px;"></div>
    <script type="text/javascript">
        $(document).ready(function () {
            jwplayer("cema_vod<id>").setup({
                image: "/assets-frontend/Images/start_background.jpg",
                file: "<StreamingPath>",
                logo: {
                file: '/assets-frontend/Images/Logo/ubdt_sm.png',
                link: 'http://cema.gov.vn/'
                },
            width: '100%',
            height: 480
        });
        });
    </script>
</nodevideo>