﻿<main>
    <script type="text/javascript">
        var CurrentPlayVideo = null;
        function playVideo(thumbId) {
            if (CurrentPlayVideo != null) {
                var jwpItem = jwplayer(CurrentPlayVideo);
                jwpItem.stop();
                var jwpItemInActive = jwplayer(thumbId);
                jwpItemInActive.play();
            } else {
                var jwpItemInActive = jwplayer(thumbId);
                jwpItemInActive.play();
            }
            CurrentPlayVideo = thumbId;
        }

    </script>
    <div class="row">
        <div class="col-md-16">
            <div id="mediaplayer"></div>
            <div class="video-slider">
                <div class="row">
                    <div class="col-md-16">
                        <div class="video-slider-big">
                            <div class="video-slider-big-wrap">
                                <listlagevideo>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-16">
                        <div class="video-slider-list">
                            <div class="video-slider-list-body">
                                <listsmallvideo>
                            </div>
                            <div class="video-slider-list-action">
                                <button class="slick-prev" href="#">
                                    <img src="/assets-frontend/Images/info_prev.png"></img>
                                </button>
                                <button class="slick-next" href="#">
                                    <img src="/assets-frontend/Images/info_next.png"></img>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<lagevideo>
    <div class="item <itemactive>" data-id='cema_vod_slider_wrapper_<id>'>
        <div style="width: 100%; height: 320px" id='cema_vod_slider_<id>'></div>
        <p class="lead"><title></p>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            jwplayer("cema_vod_slider_<id>").setup({
            image: "/assets-frontend/Images/start_background.jpg",
            file: "<filepath>",
            logo: {
                file: '/assets-frontend/Images/Logo/ubdt_sm.png',
                link: 'http://cema.gov.vn/'
            },
            //autostart:true,
            width: '100%',
            height: 320
        });
        });
    </script>
</lagevideo>
<smallvideo>
    <div class="col-sm-4 col-xs-8 video-slider-list-item">
        <a href="<uri>
            " data-id="cema_vod_slider_wrapper_<id>" id="cema_vod_slider_wrapper_<id>" onclick="playVideo('cema_vod_slider_<id>');">
            <img src="<filepath>" class="img-responsive" style="width: 100% ! important; height: 125px ! important"></img>
            <p><title></p>
        </a>
    </div>
</smallvideo>